In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('davy.csv')

In [3]:
df

   ID_AEROLINEA  ID_AEROPUERTO  ID_MOVIMIENTO         DIA
0             1              1              1  2021-05-02
1             2              1              1  2021-05-02
2             3              2              2  2021-05-02
3             4              3              2  2021-05-02
4             1              3              2  2021-05-02
5             2              1              1  2021-05-02
6             2              3              1  2021-05-04
7             3              4              1  2021-05-04
8             3              4              1  2021-05-04

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID_AEROLINEA   9 non-null      int64
 1   ID_AEROPUERTO  9 non-null      int64
 2   ID_MOVIMIENTO  9 non-null      int64
 3   DIA            9 non-null      object
dtypes: int64(3), object(1)
memory usage: 416.0+ bytes

In [5]:
dic_AEROLINEA = {1 : 'Volaris', 2 : 'Aeromar', 3 : 'Interjet', 4 : 'Aeromexico'}

In [6]:
dic_AEROLINEA

{1: 'Volaris', 2: 'Aeromar', 3: 'Interjet', 4: 'Aeromexico'}

In [7]:
df['ID_AEROLINEA'] = df['ID_AEROLINEA'].map(dic_AEROLINEA)

In [8]:
df

  ID_AEROLINEA  ID_AEROPUERTO  ID_MOVIMIENTO         DIA
0      Volaris              1              1  2021-05-02
1      Aeromar              1              1  2021-05-02
2     Interjet              2              2  2021-05-02
3   Aeromexico              3              2  2021-05-02
4      Volaris              3              2  2021-05-02
5      Aeromar              1              1  2021-05-02
6      Aeromar              3              1  2021-05-04
7     Interjet              4              1  2021-05-04
8     Interjet              4              1  2021-05-04

In [9]:
dic_AEROPUERTO = {1 : 'Benito Juarez', 2 : 'Guanajuato', 3 : 'La paz', 4 : 'Oaxaca'}

In [10]:
dic_AEROPUERTO

{1: 'Benito Juarez', 2: 'Guanajuato', 3: 'La paz', 4: 'Oaxaca'}

In [11]:
df['ID_AEROPUERTO'] = df['ID_AEROPUERTO'].map(dic_AEROPUERTO)

In [12]:
df['ID_AEROPUERTO']

0    Benito Juarez
1    Benito Juarez
2       Guanajuato
3           La paz
4           La paz
5    Benito Juarez
6           La paz
7           Oaxaca
8           Oaxaca
Name: ID_AEROPUERTO, dtype: object

In [13]:
dic_ID_MOVIMIENTO = {1: 'Salida', 2: 'Llegada'}

In [14]:
dic_ID_MOVIMIENTO

{1: 'Salida', 2: 'Llegada'}

In [15]:
df['ID_MOVIMIENTO'] = df['ID_MOVIMIENTO'].map(dic_ID_MOVIMIENTO)

In [16]:
df['ID_MOVIMIENTO']

0     Salida
1     Salida
2    Llegada
3    Llegada
4    Llegada
5     Salida
6     Salida
7     Salida
8     Salida
Name: ID_MOVIMIENTO, dtype: object

In [17]:
df

  ID_AEROLINEA  ID_AEROPUERTO ID_MOVIMIENTO         DIA
0      Volaris  Benito Juarez        Salida  2021-05-02
1      Aeromar  Benito Juarez        Salida  2021-05-02
2     Interjet     Guanajuato       Llegada  2021-05-02
3   Aeromexico         La paz       Llegada  2021-05-02
4      Volaris         La paz       Llegada  2021-05-02
5      Aeromar  Benito Juarez        Salida  2021-05-02
6      Aeromar         La paz        Salida  2021-05-04
7     Interjet         Oaxaca        Salida  2021-05-04
8     Interjet         Oaxaca        Salida  2021-05-04

In [18]:
df.dtypes

ID_AEROLINEA     object
ID_AEROPUERTO    object
ID_MOVIMIENTO    object
DIA              object
dtype: object

In [19]:
# cambiar nombre de columnas

In [20]:
df.rename(columns = {'ID_AEROLINEA' : 'aerolinea', 'ID_AEROPUERTO' : 'aeropuerto', 'ID_MOVIMIENTO' : 'movimiento', 'DIA' : 'fecha'}, inplace = True)

In [21]:
df

    aerolinea     aeropuerto movimiento       fecha
0     Volaris  Benito Juarez     Salida  2021-05-02
1     Aeromar  Benito Juarez     Salida  2021-05-02
2    Interjet     Guanajuato    Llegada  2021-05-02
3  Aeromexico         La paz    Llegada  2021-05-02
4     Volaris         La paz    Llegada  2021-05-02
5     Aeromar  Benito Juarez     Salida  2021-05-02
6     Aeromar         La paz     Salida  2021-05-04
7    Interjet         Oaxaca     Salida  2021-05-04
8    Interjet         Oaxaca     Salida  2021-05-04

In [22]:
df['fecha'] = pd.to_datetime(df['fecha'])

In [23]:
df.dtypes

aerolinea             object
aeropuerto            object
movimiento            object
fecha         datetime64[ns]
dtype: object

In [24]:
# ¿Cuál es el nombre aeropuerto que ha tenido mayor movimiento durante el año?

df['aeropuerto'].value_counts()

Benito Juarez    3
La paz           3
Oaxaca           2
Guanajuato       1
Name: aeropuerto, dtype: int64

In [25]:
df['aeropuerto'].mode()

0    Benito Juarez
1           La paz
dtype: object

In [26]:
# ¿Cuál es el nombre aerolínea que ha realizado mayor número de vuelos durante el año?

df['aerolinea'].value_counts()

Aeromar       3
Interjet      3
Volaris       2
Aeromexico    1
Name: aerolinea, dtype: int64

In [27]:
df['aerolinea'].mode()

0     Aeromar
1    Interjet
dtype: object

In [28]:
# ¿En qué día se han tenido mayor número de vuelos?

df['fecha'].value_counts()

2021-05-02    6
2021-05-04    3
Name: fecha, dtype: int64

In [29]:
# 4. ¿Cuáles son las aerolíneas que tienen mas de 2 vuelos por día?

In [30]:
df['fecha'] == '2021-05-04'

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
Name: fecha, dtype: bool

In [31]:
df['fecha'] == '2021-05-02'

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
Name: fecha, dtype: bool

In [32]:
df

    aerolinea     aeropuerto movimiento      fecha
0     Volaris  Benito Juarez     Salida 2021-05-02
1     Aeromar  Benito Juarez     Salida 2021-05-02
2    Interjet     Guanajuato    Llegada 2021-05-02
3  Aeromexico         La paz    Llegada 2021-05-02
4     Volaris         La paz    Llegada 2021-05-02
5     Aeromar  Benito Juarez     Salida 2021-05-02
6     Aeromar         La paz     Salida 2021-05-04
7    Interjet         Oaxaca     Salida 2021-05-04
8    Interjet         Oaxaca     Salida 2021-05-04

In [33]:
# primera fecha

In [34]:
df[df['fecha'] == '2021-05-04']

  aerolinea aeropuerto movimiento      fecha
6   Aeromar     La paz     Salida 2021-05-04
7  Interjet     Oaxaca     Salida 2021-05-04
8  Interjet     Oaxaca     Salida 2021-05-04

In [35]:
df[df['fecha'] == '2021-05-04']['aerolinea']

6     Aeromar
7    Interjet
8    Interjet
Name: aerolinea, dtype: object

In [36]:
df[df['fecha'] == '2021-05-04']['aerolinea'].value_counts()

Interjet    2
Aeromar     1
Name: aerolinea, dtype: int64

In [37]:
# segunda fecha

In [38]:
df[df['fecha'] == '2021-05-02']

    aerolinea     aeropuerto movimiento      fecha
0     Volaris  Benito Juarez     Salida 2021-05-02
1     Aeromar  Benito Juarez     Salida 2021-05-02
2    Interjet     Guanajuato    Llegada 2021-05-02
3  Aeromexico         La paz    Llegada 2021-05-02
4     Volaris         La paz    Llegada 2021-05-02
5     Aeromar  Benito Juarez     Salida 2021-05-02

In [39]:
df[df['fecha'] == '2021-05-02']['aerolinea']

0       Volaris
1       Aeromar
2      Interjet
3    Aeromexico
4       Volaris
5       Aeromar
Name: aerolinea, dtype: object

In [40]:
df[df['fecha'] == '2021-05-02']['aerolinea'].value_counts()

Volaris       2
Aeromar       2
Interjet      1
Aeromexico    1
Name: aerolinea, dtype: int64